<div class="col-md-6 offset-md-3">
  <div class="card">
    <div class="card-header card-inverse bg-primary">
      <h2 class="text-white">Resend Unlock Instructions</h2>
    </div>
    <div class="card-block">
      <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.input :email, label: "Email", autofocus: true %>
        <%= f.button :submit, "Resend Unlock Instructions", class: "btn-primary" %>
      <% end %>
      </br>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>