<div class="col-md-6 offset-md-3">
  <div class="card">
    <div class="card-header card-inverse bg-primary">
      <h2 class="text-white">Log In</h2>
    </div>
    <div class="card-block">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>
        <div class="form-group">
          <%= f.label :email, "Email:" %>
          <%= f.text_field :email, class: "form-control", autofocus: true %>
        </div>
        <div class="form-group">
          <%= f.label :password, "Password:" %>
          <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
        </div>
        <div class="form-group">
          <div class="form-check">
            <%= f.check_box :remember_me, class: "form-check-input ml-0" %>
            <%= f.label :remember_me, "Remember me?", class: "form-check-label" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.button "Log In", class: "btn btn-primary" %>
        </div>
      <% end %>
      </br>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>