<!DOCTYPE html>
<html>
  <head>
    <title>HCA Locums Tracking</title>
    <%= csrf_meta_tags %>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <nav class="navbar navbar-inverse bg-primary flex-row">
      <%= link_to "HCA Locums", root_path, class: "navbar-brand mr-auto" %>
      
      <ul class="nav navbar-nav">
        <li class="ml-auto"><%= link_to "Sign Out", destroy_user_session_path, class: "nav-link", method: :delete %></li>
      
      </ul>
    </nav>
    
    <%= render "shared/flash" %>
    
    <br />
    
    <div class="container">
      
      <%= yield %>
      
    </div>
    
  </body>
</html>
